
.quote{
    background: #562c4d;
    display: flex;
    
}
.quote__column{
    width: 50%;
}

.quote__column--left{
    background: url('../img/quote-bg-1.jpg') center center no-repeat;
    background-size: cover;
}
.quote__column--right{
padding: 120px 0 120px 65px;
}

.quote__text{
  color: $page-bg;
  max-width: 500px;
  padding: 0;
  margin: 0;
  font-family: 'Cardo', serif;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.625rem;
}

.quote__title{
    color: #ffffff;
    font-family: $base-font;
    font-size: 0.813rem;
    font-weight: 700;
    line-height: 1.313rem;
    text-transform: uppercase;
    margin-top: 30px;
}

.quote__switch-wrap{
    margin-top: 64px;
    text-align: center;
}