.works{
    width: 100%;
    background: $page-bg;
}

 .works__list{
    @include flexCenter;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}

.works__item{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 350px;
    width: 25%;
    overflow: hidden;
    position: relative;
    
}

.works__link{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(232, 69, 69, 0.9);
        opacity: 0;
        z-index: 1;
        transition: opacity 1s ease;
        will-change: opacity; 
    }
}

.works__img{
    width: 100%;
    height: 100%;
    transition: transform 2s ease;
    will-change: transform;
}

.works__desc-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

}
.works__desc-title{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: $base-font;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-150%,-170px);
    transition: transform .5s ease-in-out;
    will-change: transform; 
    z-index: 2;
}

.works__desc-text{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: $base-font;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 13px;
    text-align: center;
    z-index: 2;
    transform: translate(150%,170px);
    transition: transform .5s ease-in-out;
    will-change: transform; 
}
 .works__item:hover .works__img{
    transform: scale(1.3);
}
    .works__link:hover:before{
        opacity: 1;
    }
    
    .works__link:hover .works__desc-text{
            transform: translate(0);
        }
        .works__link:hover  .works__desc-title{
            transform: translate(0);
        }

