a,
input[type="submit"],
input[type="button"],
button{
    text-decoration: none;
}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	font-style: Arial, sans-serif;
	color:  #c2c2c2;

}

.header{
	margin: 0 auto;
	position: relative;
	width:  80%;
	}
.input{
	box-sizing: border-box;
	padding:  0 80px 0 10px;
	font-weight: 700;
	color:  #c2c2c2;
	font-size:  6em;
	width:  100%;
	padding: 0 80px;
	border: 1px solid black;
	background:  transparent;
}

	
.submit-button{
	position: absolute;
	height: 80px;
	width: 80px;
	right:  0;
	top:  20%;
	color: transparent;
	background:  transparent;
	background-size: 100%;
	border:  none;
	transform-origin: 100% 50%;
	border: 1px solid black;
	background-image: url("magnifier.svg");
	transition: transform 0.3s;
	background-repeat: no-repeat;
	cursor: pointer;	
	overflow: hidden;

}
.wrapper{
	position: relative;
	width: 80%;
	margin: 40px auto 0;
	border:  1px solid red;
	padding: 0;
	font-size: 0;
}

.search__column{
	box-sizing: border-box;
	display: inline-block;
	width:  30%;
	font-size: 1rem;
	vertical-align: top;
	}

.search__title{
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 1px;

}
.search__column:nth-child(2) {
margin:  0 5%;
}

.search__column{
	padding: 0;
	margin: 0;
	height: 100%;
}
.search__column:first-child .icon{
	border-radius: 50%;
	margin-left: 2px;
}
.search__list{
	padding: 0;
	margin:  0;
	border: 1px solid black;

	
}
.search__item{
	box-sizing: border-box;
	vertical-align: middle;
	list-style-type: none; 
	font-size: 0;
	margin: 5px 0;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	padding: 12px;
	color: rgba(118,117,128,0.05);

}
.search__item:first-child{
	margin-top: 0;
}
.search__item:last-child{
	margin-bottom: 0;
}
.icon, .name {
	display: inline-block;	
	font-size:  14px;
	vertical-align: middle;
	border: 1px solid black;
	margin:  0 10px 0 0; 
}

.icon {
	height: auto;
	max-width: 100%;
}
.name {
	box-sizing: border-box;
	max-width: 65%;
	height: auto;
	color:  #c2c2c2;

}

.search__item a {
	display: block;
	height: 100%;

}
.search__item{
	color: 	rgba(118,117,128,0.1);

}
.submit-button:hover{
	transform: scale(1.5);
}