// <section class="team">
// <div class="team-container">
     .team__list{
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
        }

    .team__item{
        display: flex;
        width: 25%;
    }


//         <li class="team__item">
//         team__logo-wrap
//         team__title
//         team__subtitle
//         team__text

        .team__social{
            margin-left: 68px;
            .social__list {
                display: flex;
                justify-content: center;
            }
            .social__item{
                display: flex;
                text-align: center;
                flex-flow: column nowrap;
                border: 2px solid #c5c8cb;
                border-radius: 2px;
            }
            .social__link{
                color: #c5c8cb;
                }
            i{
                font-size: 20px;
            }
        }